<h2>Upload Paper</h2>

<form method="POST" enctype="multipart/form-data">
 Title: <input name="title"><br>
 PDF: <input type="file" name="pdf"><br>
 <button>Upload</button>
</form>

<a href="/dashboard">Back</a>